.directors {
  background-color: #004047;
  padding: 140px 0;
  
  &__heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    margin: 0;
    text-align: center;
    margin-bottom: 64px;
    color: #ffffff;
  }
}

.dlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .ditem {
    position: relative;
    width: 350px;
    height: 253px;
    // padding: 32px 24px 56px;
    background-color: #012f34;
    margin-bottom: 76px;
    margin-left: 5px;
    margin-right: 5px;

    &__top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__image {
      width: 98px;
      height: 98px;
      margin-top: 32px;
      border: 2px solid #c4fffe;
      border-radius: 50%;
      margin-bottom: 12px;
    }

    &__name {
      font-weight: 700;
      color: #79c8c7;
    }

    &__bio {
      font-style: italic;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      color: #ffffff;
    }
  }
}

.bio {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;

  &__btn {
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 100%;
    transform: translateX(-50%) translateY(-50%);
    transition: 0.3s ease all;
    width: 56px;
    height: 56px;
    background-color: #F67e7e;
    background-image: url("./../image/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #79c8c7;
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }

  &__text {
    position: absolute;
    left: 0;
    top: 0%;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #002529;
    transition: 0.3s ease all;
    
    &--hidden {
      left: 200%;
      opacity: 0;
    }
  }


  &__text-heading {
    margin: 0;
    margin-bottom: 8px;
  }

  &__text-info {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 24px;
  }

  &__text-socials {
    display: flex;

    a {
      margin: 0 8px;
    }
  }
}



@media only screen and (max-width: 770px){
  .dlist{
    justify-content: center;
  }
}